body  {
    background-color: turquoise;
}
.header {
    background-color: pink;
    width: 100%;
    height: 200px;
}

.navigasi {
    background-color: yellow;
    width: 200px;
    height: 800px;
}

.main {
    background-color: rgb(51, 117, 192);
    width: 100%;
    height: 200px;
    margin-top: -200px;
    display: inline-block;
}

.judul