.container {
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.kiri {
    width: 150px;
    height: 200px;
    background-color: teal;
}

.tengah {
    width: 500px;
    height: 200px;
    background-color: tomato;
}

.kanan {
    width: 150px;
    height: 200px;
    background-color: blueviolet;
}